{{>navbar}}

<h1 style="text-align: center;">Events And Meeting</h1>
    <img src="/images/eventsMain01.jpg" class="img-fluid" alt=""><br>
    <p></p><br>
    <p style="text-align: center;">Host a party, plan a pitch, collaborate and create. From the Big Day to the business meeting, in our hotels, we turn every event into an extraordinary experience.</p>

        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/events1.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Playful meetings</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> WHILE YOUR BODY PLAYS, YOUR HEAD RECHARGES. </h6>
                            <p class="card-text">Go for our entertaining and unique conference room meetings and wake up your team creativity with spirited games and original approaches.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/events2.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Special Events</h5>
                            <h6 class="card-subtitle mb-2 text-muted">GOLDEN TULIP GOT YOUR BACK!</h6>
                            <p class="card-text"> Promote your event at Golden Tulip! You know what they say; if you've got it, flaunt it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/events3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Business meetings </h5>
                            <h6 class="card-subtitle mb-2 text-muted">TEAMWORK MAKES THE BEST WORK!</h6>
                            <p class="card-text"> Prepping for a major business meeting? Call the shots with our sophisticated business spaces and conference rooms our hotels have to offer! </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/events4.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"> Celebrations </h5>
                            <h6 class="card-subtitle mb-2 text-muted">MAKE MINE A DOUBLE! </h6>
                            <p class="card-text">Looking for the perfect place to celebrate a wedding, a birthday or any event worth celebrating? Kick off those shoes and let your hair down - it’s party time in our hotels. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<br>
{{>footer}}