{{>navbar}}

<h1 style="text-align: center;">GYM AND BILLIARDS</h1>
    <img src="" class="img-fluid" alt=""><br>
    <p></p><br>

        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/gymnp1.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">The GYM</h5>
                            <h6 class="card-subtitle mb-2 text-muted">The fitness center</h6>
                            <p class="card-text">To be successful, you must dedicate yourself 100% to your training,
                                diet and mental approach. “The last three or four reps is what makes the muscle grow.
                                This area of pain divides a champion from someone who is not a champion.”</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/gymnp2.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">The Billiard</h5>
                            <h6 class="card-subtitle mb-2 text-muted">The Billiards Game</h6>
                            <p class="card-text">“A sign read “Free drinks for billiards competitors only.”
                                Hand-lettered below read “All others will pay.” It was written in blood. I could tell
                                because a red fairy with what looked like black insect wings was writing it at
                                the time, with his own dismembered finger.”</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/gymnp3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"> The PLAYGROUND </h5>
                            <h6 class="card-subtitle mb-2 text-muted"> Vollyball </h6>
                            <p class="card-text">volleyball, game played by two teams, usually of six players on a side,
                                in which the players use their hands to bat a ball back and forth over a high net,trying
                                to make the ball touch the court within the opponents' playing area before it can be
                                returned</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card h-100">
                        <img src="/images/gymnp4.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"> The PLAYGROUND </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Tennis</h6>
                            <p class="card-text"> At playtime she twirled and spun across the playground so fast that
                                none of the little boys in her class could catch her, and they were all very annoyed A
                                shuttlecock is like a ball in tennis or ping pong that is made from feathers or plastic.
                                ."
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>

{{>footer}}