{{>navbar}}
{{>carousel}}

<br><h4 style="text-align: center;">Types of Services Available</h4><br>

<section class="d-flex justify-content-center align-items-center h-100 min-vh-100">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white ">
                        <img src="/images/mainBeautySalon.jpg" alt="">
                        <a href="/beautySalon" class=" btn"><h5>Beauty Salon</h5></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white">
                        <img src="/images/mainSpa.jpg" alt="">
                        <a href="/sensesSpa" class=" btn"><h5>Senses Spa</h5></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white">
                        <img src="/images/mainTransport.jpg" alt="">
                        <a href="/transportService" class=" btn"><h5>Transportation Service</h5></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white">
                        <img src="/images/mainLaundry.jpg" alt="">
                        <a href="/laundryService" class=" btn"><h5>Laundry Service</h5></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white">
                        <img src="/images/mainEvents.jpg" alt="">
                        <a href="/eventsService" class=" btn"><h5>Events</h5></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="box bg-light d-flex p-4 flex-column text-white">
                        <img src="/images/mainGym.jpg" alt="">
                        <a href="/gymplayService" class="btn"><h5>Gym and Playground</h5></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <br>
    {{>footer}}